<!DOCTYPE html>
<html>
<head>
    <title>Songvoter</title>
    <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5,user-scalable=0"/>
    <meta name="user-id" id="user-id" content='<%= userId %>' />
    <meta name="user-name" id="user-name" content='<%= userName %>' />
    <meta name="redirect-uri" id="redirect-uri" content='<%= `/${admin ? 'admin' : ''}`%>' />
    <script src="/javascripts/loginRedirect.js"></script>
</head>
<body>
    <p>Redirecting...</p>
</body>
</html>