#requestList {
    position: relative;
}

#songPlayedBtn {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--main-fg);
    background-color: var(--main-acc);
    font-size: 20px;
    border: 1px solid var(--main-fg);
}

#requestTable, #requestTable > tbody {
    max-height: var(--requestTableHeight);
    min-height: var(--requestTableHeight);
}

.tdTime {
    min-width: 9ex;
    text-align: center;
}

.tdUser {
    text-align: right;
    white-space: pre;
    padding-right: 5px;
    padding-left: 10px;
}