#requestList {
    position: relative;
}

#songPlayedBtn {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--main-fg);
    background-color: var(--main-acc);
    font-size: 20px;
    border: 1px solid var(--main-fg);
}

#requestTable, #requestTable > tbody {
    display: block;
    max-height: var(--requestTableHeight);
    min-height: var(--requestTableHeight);
}