#filesTable td {
    max-width: 15vw;
    padding: 0 20px;
}

#filesTable input[type=text] {
    max-width: 100%;
    height: 1em;
    border: none;
}

#warning {
    display: inline;
    color: red;
}

#ratelimit {
    width: 5ex;
}

#setPasskeyBtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

#playlistSelection td:first-of-type {
    min-width: 10em;
}

#playlistSelection button {
    padding: 0 5px;
    margin-top: 1px;
    margin-left: 5px;
    height: 1.5em;
    min-width: 5vw;
}