@media (prefers-color-scheme: dark) {
    :root {
        --main-fg: #eee;
        --main-bg: #121212;
        --light-acc: rgb(213, 129, 0);
        --sec-acc: #822900;
        --bg-acc: #000;
        --off: rgb(70, 70, 70);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-fg: black;
        --main-bg: white;
        --light-acc: orange;
        --sec-acc: #ffb86e;
        --bg-acc: #ffd898;
        --off: rgb(201, 201, 201);
    }
}

.selected {
    color: var(--main-fg) !important;
    background-color: var(--light-acc) !important;
}

.off {
    color: var(--off) !important;
    background-color: var(--main-bg);
}

.success {
    color: green !important;
    background-color: var(--main-bg) !important;
}

.failure {
    color: red !important;
    background-color: inherit !important;
}

.warning {
    color: black !important;
    background-color: red !important;
}

.hidden {
    display: none !important;
}

.flexContainer {
    display: flex;
    width: 100%;
}

#content > div{
    min-height: calc(100% - 2%);
    margin: 1%;
}

body {
    color: var(--main-fg);
    background-color: var(--main-bg);
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

button, input[type=submit] {
    background-color: var(--sec-acc);
    color: var(--main-fg);
    border: 1px solid var(--light-acc);
    border-radius: 2px;
    cursor: pointer;
}

input[type=text] {
    background-color: inherit;
    color: var(--main-fg);
    padding: 0.5ex;
    border: 1px solid var(--light-acc);
}

a {
    color: var(--light-acc);
    background-color: var(--main-bg);
    text-decoration: none;
    font-size: 2em;
    position: absolute;
    top: 5px;
    left: 5px;
}

table {
    background-color: var(--main-bg);
    overflow-y: auto;
    border: 2px solid var(--light-acc);
    user-select: none;
    border-collapse: collapse;
    display: block;
    max-width: max-content;
}

thead td {
    background-color: var(--sec-acc);
}

tr:nth-child(even) {
    background: var(--main-bg);
}

tr:nth-child(odd) {
    background: var(--bg-acc);
}

tr {
    width: 100%;
    cursor: pointer;
}

.tdName {
    width: 100%;
    padding-left: 10px;
}

hr.line {
    border: 1px solid var(--bg-acc);
}