#voter {
    position: relative;
}

#namewrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
}

#namewrapper > input {
    float: right;
    width: 100%;
}

#namewrapper > button {
    margin-top: 5px;
    float: right;
}

#playlistWrapper {
    max-width: 90%;
}

.playlist_btn {
    font-size: 1.5em;
    background-color: var(--main-bg);
    border: none;
    border-right: 2px solid var(--main-fg);
    color: var(--main-fg);
    height: 1.5em;
    cursor: pointer;
}

.songsTable {
    max-height: var(--voterTableHeight);
    min-height: var(--voterTableHeight);
}

.songRow {
    width: 100%;
}

.songsTable tr td:first-child {
    padding-right: 10px;
}

.songsTable tr td:nth-child(2) {
    padding-right: 5em;
}

.songsTable tr td:last-child {
    width: 100%;
}

.songCell {
    white-space: nowrap;
}

.tdNumber {
    text-align: right;
    padding-right: 5px;
    min-width: 4.5ex;
}

#statusText {
    position: absolute;
    bottom: -10px;
    right: 0;
}